<a href="https://colab.research.google.com/github/KajalAhir23/DAA_kajal/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Hello world**

In [ ]:
print("Hello World !")

Hello World !

**Given number is Even or Odd**

In [ ]:
n = int(input())
if n % 2 == 0:
  print("Even")
else:
  print("Odd")

5
Odd

**Calculator**

In [ ]:
n = int(input())
m = int(input())
char = input()
if char == "+":
  print(n+m)
elif char == "-":
  print(n-m)
elif char == "*":
  print(n*m)
elif char == "/":
  print(n/m)
elif char == "%":
  print(n%m)
else:
  print("invalid char")

2
3

invalid char

**Calculator Program**

In [1]:
print(eval(input("enter:")))

enter:35-5
30

**Area of Circle**

In [ ]:
PI = 3.14
Radius = int(input())
Area = PI * Radius * Radius
print(Area)

4
50.24

**pattern using print statements**

In [ ]:
print("*")
print("**")
print("***")
print("****")
print("*****")

*
**
***
****
*****

**Factorial**

In [ ]:
n = int(input())
result = 1

if n < 0:
    print("Factorial does not exist for negative numbers.")
elif n == 0:
    print("The factorial of 0 is 1.")
else:
    for i in range(1, n + 1):
        result *= i
    print("The factorial of", n, "is", result)

5
The factorial of 5 is 120

**Right-Angled Triangle of Stars**

In [ ]:
n = int(input())
for i in range(1,n+1):
  print("*" * i)

6
*
**
***
****
*****
******

**pyramid pattern**

In [ ]:
rows = int(input())
for i in range(rows):
    print(" " * (rows - i - 1) + "*" * (2 * i + 1))

5
    *
   ***
  *****
 *******
*********

**Number pyramid**

In [ ]:
rows = int(input())
for i in range(rows):
    print(" " * (rows - i - 1), end="")
    for j in range(1, i + 2):
        print(j, end=" ")
    print()

4
   1
  1 2
 1 2 3
1 2 3 4

**Sum of Natural Numbers**

In [ ]:
num = int(input("enter positive number:"))
if num>0:
  print("the sum is :",(num*(num+1))//2)
else:
  print("enter positive number")

enter positive number:5
the sum is : 15

**Perfect Square Checker**

In [ ]:
import math
n = int(input())
root = math.sqrt(n)
is_square = root * root == n

print(is_square)

25
True

**Prime Number**

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

number = 29
if is_prime(number):
    print(f"{number} is a Prime Number ✅")
else:
    print(f"{number} is Not a Prime Number ❌")

29 is a Prime Number ✅

**Write a Python program that takes a year as input and checks if it is a leap year.**

In [ ]:
year = int(input("enter year:"))
if(year % 4 == 0 and year % 100 != 0)or(year %400 ==0):
  print(year,"is leap year")
else:
  print(year,"is not leap year")

enter year:1900
1900 is not leap year

**Greedy Algorithm**

In [ ]:
def greedy_coins(value):
    coins = [10, 5, 2, 1]
    result = []
    for coin in coins:
        while value >= coin:
            value -= coin
            result.append(coin)
    return result

print(greedy_coins(20))

**Binary search : Divide and conquer**

In [ ]:
def binary_search(arr, target):
    low = 0
    high = len(arr) - 1

    while low <= high:
        mid = (low + high) // 2
        if arr[mid] == target:
            return mid
        elif arr[mid] < target:
            low = mid + 1
        else:
            high = mid - 1
    return -1


arr = [2, 4, 6, 8, 10, 12]
target = 10
print("Index of", target, "is", binary_search(arr, target))

**Calculate Total Bill with Discounts and Tax**

we're building a billing system for a grocery store. Each item has a price and quantity. Some items may have discounts, and the total bill includes a fixed tax rate. tax rate : 50%.

In [ ]:
items = [
    {"price": 40.0, "quantity": 2},          # Milk
    {"price": 30.0, "quantity": 1, "discount": 10},  # Bread
    {"price": 15.0, "quantity": 12}           # Bananas
]

total = 0

for item in items:
    p = item["price"]
    q = item["quantity"]
    d = item.get("discount", 0)

    cost = p * q
    cost -= cost * d / 100
    total += cost

tax = total * 0.05
final = total + tax

print("Total before tax:", round(total, 2))
print("Tax:", round(tax, 2))
print("Final total:", round(final, 2))

Total before tax: 287.0
Tax: 14.35
Final total: 301.35

**count the number of vovels in a string**

In [ ]:
txt = input("give string:")
vowels = "aeiouAEIOU"
counter = 0
for char in txt:
  if char in vowels:
    counter += 1
print("number of vowels :",counter)

give string:kajal
number of vowels : 2