<a href="https://colab.research.google.com/github/KajalAhir23/DAA_kajal/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Hello world**

In [ ]:
print("Hello World !")

Hello World !

**Given number is Even or Odd**

In [ ]:
n = int(input())
if n % 2 == 0:
  print("Even")
else:
  print("Odd")

5
Odd

**Calculator**

In [ ]:
n = int(input())
m = int(input())
char = input()
if char == "+":
  print(n+m)
elif char == "-":
  print(n-m)
elif char == "*":
  print(n*m)
elif char == "/":
  print(n/m)
elif char == "%":
  print(n%m)
else:
  print("invalid char")

2
3

invalid char

**Area of Circle**

In [ ]:
PI = 3.14
Radius = int(input())
Area = PI * Radius * Radius
print(Area)

4
50.24

**pattern using print statements**

In [ ]:
print("*")
print("**")
print("***")
print("****")
print("*****")

*
**
***
****
*****

**Factorial**

In [1]:
n = int(input())
result = 1

if n < 0:
    print("Factorial does not exist for negative numbers.")
elif n == 0:
    print("The factorial of 0 is 1.")
else:
    for i in range(1, n + 1):
        result *= i
    print("The factorial of", n, "is", result)

5
The factorial of 5 is 120

**Right-Angled Triangle of Stars**

In [2]:
n = int(input())
for i in range(1,n+1):
  print("*" * i)

6
*
**
***
****
*****
******

**pyramid pattern**

In [3]:
rows = int(input())
for i in range(rows):
    print(" " * (rows - i - 1) + "*" * (2 * i + 1))

5
    *
   ***
  *****
 *******
*********

**Prime Number**

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

number = 29
if is_prime(number):
    print(f"{number} is a Prime Number ✅")
else:
    print(f"{number} is Not a Prime Number ❌")

29 is a Prime Number ✅

**Greedy Algorithm**

In [ ]:
def greedy_coins(value):
    coins = [10, 5, 2, 1]
    result = []
    for coin in coins:
        while value >= coin:
            value -= coin
            result.append(coin)
    return result

print(greedy_coins(20))

**Binary search : Divide and conquer**

In [ ]:
def binary_search(arr, target):
    low = 0
    high = len(arr) - 1

    while low <= high:
        mid = (low + high) // 2
        if arr[mid] == target:
            return mid
        elif arr[mid] < target:
            low = mid + 1
        else:
            high = mid - 1
    return -1


arr = [2, 4, 6, 8, 10, 12]
target = 10
print("Index of", target, "is", binary_search(arr, target))